# This file is described here: https://help.github.com/en/articles/about-code-owners

# Global owners
* @alexmt @jessesuen @krancour @rbreeze @devholic @kencochrane @shelby-moore @evgeny-goldin

# Doc owners
/docs/ @morey-tech @dhpup
